html {
  background-color: white;
  font-family: Consolas;
  font-size: 24px;
}
body {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}
.collapsible-item {
  margin-top: 5px;
  margin-bottom: 0px;
  color:black;
  background-color: rgb(210, 230, 215);
  border: 1px solid black;
  font-size: 22px;
  width: 100%;
  text-align: left;
  font-weight: bold;
}
.collapsible-item:hover {
  background-color: #555;
  color: white;
}
.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
.collapsible-content p, .collapsible-content ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: black;
  color: white;
  font-size: 30px;
}
.page-header {
  position: -webkit-sticky; 
  position: sticky; 
  background-color: grey;
  top: 0px;
  align-items: center;
}
.page-title {
  color:white;
  background-color: blue;
}
.main {
  margin-top: 15px; 
}
.navbar {
  overflow: hidden;
  background-color: rgb(247, 241, 241);
  top: 0; 
  width: 100%; 
  text-align: right;
  font-size: 20px;
}
.navbar a {
  font-size: inherit;
  float: left;
  text-align: center;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
}


/****************************************************************************

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
h4 {
	margin-top: 0px;
	margin-bottom: 1px;
}
h5 {
	margin-top: 0px;
	margin-bottom: 1px;
}
h6 {
	margin-top: 0px;
	margin-bottom: 1px;
}
ul {
  margin-top: 0px;
}
p {
  color: black;
}
table, th, td {
  border:0px solid black;
}

.navbar a:hover {
  background-color: red;
}
.navbar-dropdown {
  float: left;
  overflow: hidden;
}
.navbar-dropdown .navbar-dropbtn {
  font-size: inherit;
  outline: none;
  color: black;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 2px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
}
.navbar-dropdown:hover .navbar-dropbtn {
  background-color: red;
}
.navbar-dropdown-item-header {
  background-color: black;
  color: yellow;
  text-align: center;
}
.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.navbar-dropdown-content a {
  float: none;
  color: black;
  padding: 2px 2px 2px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 0px;
	margin-bottom: 1px;
 }
.navbar-dropdown-content a:hover {
  background-color: #ddd;
}
.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}


.fund-table {
  width:100%;
  margin-top: 5px;
}
.fund-table caption {
  vertical-align:"bottom";
  background-color: white;
  color: yellow;
  text-align: left;
  font-size: larger;
}
.fund-table a:link {
  background-color: transparent;
  text-decoration: none;
  }

.fund-table a:visited {
  background-color: transparent;
  text-decoration: none;
  }
.fund-table a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.fund-table th {
  border:1px solid black;
  background-color: rgb(173, 168, 168);
  color: white;
}
.fund-table td {
  border:1px solid black;
}
.food {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fcf7f7;
  color: black;
  text-align: left;
  font-size: 20px;
  margin-top: 5px;
}
.food-table caption {
  vertical-align:"bottom";
  background-color: yellow;
  text-align: center;
  font-weight: bold;
}
.food-table th {
  border:1px solid black;
  background-color: rgb(226, 218, 218);
  text-align: center;
}
.food-table td {
  border:1px solid black;
  vertical-align: top;
  text-align: center;
}
.links {
  border: 1px solid black;
  margin-top: 3px;
}
.links button {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.button-header {
  color: white;
  background-color: black;
}
.links a {
  text-decoration: none;
}
.links a:link, a:visited {
  color: black;
}
.links a:hover {
  color: red;
}
************************************************************/